# Land's End To John O'Groats Analysis

In Summer 2023, I completed a walk from one end of the UK to the other. This is a quick look at the stats!

# Table of Contents

1. [Introduction](#intro)
2. [Dataset](#data)
3. [Loading Modules and data](#loading)
4. [Data Cleaning](#cleaning)

# Introduction <a name="intro"></a>

# Dataset <a name="data"></a>

# Loading modules and data <a name="loading"></a>

In [233]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [234]:
df_overview = pd.read_csv("overview.csv")
df_counts = pd.read_csv("counts.csv")

In [235]:
df_overview.head()

,Day,Days Left,Unnamed: 2,Date,Day.1,Start,End,Distance (km),Total (km),Distance (mi),Total (mi),Assistance,Notes,Unnamed: 13,Unnamed: 14
0,0.0,NaN,NaN,17/05/2023,Wed,-,-,-,-,-,-,Mum/Dad,Travel Day,NaN,NaN
1,1.0,113.0,0%,18/05/2023,Thu,Land's End,Penzance,23,23,14.3,14.3,Mum/Dad,NaN,NaN,NaN
2,2.0,112.0,2%,19/05/2023,Fri,Penzance,Helston/Porthleven,25,48,15.5,29.8,Mum/Dad,to helston (25km) or to porthleven (22km) hilly!,NaN,NaN
3,3.0,111.0,3%,20/05/2023,Sat,Helston/Porthleven,Lizard,23,71,14.3,44.1,Mum/Dad,NaN,NaN,NaN
4,4.0,110.0,3%,21/05/2023,Sun,Lizard,Gweek,21.8,92.8,13.5,57.7,Mum/Dad,NaN,NaN,NaN

In [236]:
df_counts.head()

,Day,Date,Day.1,Start,End,Km,Weather,Steps,Stiles,Dog petting,Cat stroking,Cow encounters,Unnamed: 12,Mood,Cries,Chickens,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3157177.0,243.0,94.0,11.0,6.0,NaN,NaN,25.0,NaN,NaN
1,0.0,17/05/2023,Wed,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,18/05/2023,Thu,Land's End,Penzance,23,Sunny/cloudy,30982.0,6.0,5.0,1.0,0.0,NaN,NaN,0.0,NaN,NaN
3,2.0,19/05/2023,Fri,Penzance,Helston/Porthleven,25,Cloudy,35306.0,4.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,cornwall
4,3.0,20/05/2023,Sat,Helston/Porthleven,Lizard,23,Blue skies,37643.0,9.0,3.0,0.0,0.0,NaN,NaN,0.0,NaN,devon

# Data Cleaning <a name="cleaning"></a>

In [237]:
#remove first row of counts dataframe 
df_counts = df_counts.drop([0],axis=0)
df_counts.reset_index(drop=True, inplace=True)
df_counts.head()

,Day,Date,Day.1,Start,End,Km,Weather,Steps,Stiles,Dog petting,Cat stroking,Cow encounters,Unnamed: 12,Mood,Cries,Chickens,Unnamed: 16
0,0.0,17/05/2023,Wed,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,18/05/2023,Thu,Land's End,Penzance,23,Sunny/cloudy,30982.0,6.0,5.0,1.0,0.0,NaN,NaN,0.0,NaN,NaN
2,2.0,19/05/2023,Fri,Penzance,Helston/Porthleven,25,Cloudy,35306.0,4.0,1.0,0.0,0.0,NaN,NaN,0.0,NaN,cornwall
3,3.0,20/05/2023,Sat,Helston/Porthleven,Lizard,23,Blue skies,37643.0,9.0,3.0,0.0,0.0,NaN,NaN,0.0,NaN,devon
4,4.0,21/05/2023,Sun,Lizard,Gweek,21.8,Blue skies,31287.0,2.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,somerset

Join the two dataframes into one

In [238]:
# Join the two dataframes into one
df = pd.concat([df_overview, df_counts], axis=1)

In [240]:
#remove duplicate columns
df = df.loc[:,~df.columns.duplicated()].copy()

In [241]:
df.columns

Index(['Day', 'Days Left', 'Unnamed: 2', 'Date', 'Day.1', 'Start', 'End',
       'Distance (km)', 'Total (km)', 'Distance (mi)', 'Total (mi)',
       'Assistance', 'Notes', 'Unnamed: 13', 'Unnamed: 14', 'Km', 'Weather',
       'Steps', 'Stiles', 'Dog petting', 'Cat stroking', 'Cow encounters',
       'Unnamed: 12', 'Mood', 'Cries', 'Chickens', 'Unnamed: 16'],
      dtype='object')

In [242]:
# drop unneeded columns
df = df.drop(['Unnamed: 2','Unnamed: 13','Unnamed: 14','Unnamed: 16','Unnamed: 12','Notes','Mood','Days Left',
              'Km','Assistance'],axis=1)

In [243]:
# rename columns into more useful names
df = df.rename(columns={"Day.1": "Day_week","Day": "Day_number",'Dog petting':"Dogs","Cat stroking":"Cats",
                        "Cow encounters":"Cow_encounters","Distance (km)":"Distance_km","Total (km)":"Total_km",
                        "Distance (mi)":"Distance_miles","Total (mi)": "Total_miles"})

In [245]:
# drop trailing rows
df = df[df['Start'].notna()]

In [246]:
#remove first row containing travel day
df = df.drop([0],axis=0)
df.reset_index(drop=True, inplace=True)

In [247]:
df

,Day_number,Date,Day_week,Start,End,Distance_km,Total_km,Distance_miles,Total_miles,Weather,Steps,Stiles,Dogs,Cats,Cow_encounters,Cries,Chickens
0,1.0,18/05/2023,Thu,Land's End,Penzance,23,23,14.3,14.3,Sunny/cloudy,30982.0,6.0,5.0,1.0,0.0,0.0,NaN
1,2.0,19/05/2023,Fri,Penzance,Helston/Porthleven,25,48,15.5,29.8,Cloudy,35306.0,4.0,1.0,0.0,0.0,0.0,NaN
2,3.0,20/05/2023,Sat,Helston/Porthleven,Lizard,23,71,14.3,44.1,Blue skies,37643.0,9.0,3.0,0.0,0.0,0.0,NaN
3,4.0,21/05/2023,Sun,Lizard,Gweek,21.8,92.8,13.5,57.7,Blue skies,31287.0,2.0,0.0,0.0,0.0,0.0,NaN
4,5.0,22/05/2023,Mon,Gweek-ish,Falmouth,18.5,111.3,11.5,69.2,sunny/cloudy,25150.0,13.0,1.0,0.0,1.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,108.0,02/09/2023,Sat,Helmsdale,Berriedale,19,2088,11.8,1297.4,"light cloud, sunny, sea mist",26508.0,13.0,NaN,NaN,NaN,NaN,NaN
108,109.0,03/09/2023,Sun,Berriedale,Lybster,21,2109,13.0,1310.5,"light cloud, sunny",27753.0,NaN,NaN,NaN,NaN,NaN,NaN
109,110.0,04/09/2023,Mon,Lybster,Reiss,32,2141,19.9,1330.4,sunny,42963.0,NaN,5.0,NaN,NaN,NaN,NaN
110,111.0,05/09/2023,Tue,Reiss,John O'Groats,29,2170,18.0,1348.4,"grey, drizzle, foggy",37899.0,1.0,1.0,NaN,NaN,NaN,NaN
111,112.0,06/09/2023,Wed,John O'Groats,Dunnet Head,25,2195,15.5,1363.9,sunshine,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
#fill NaNs with 0 in counts
df = df.fillna(0)

In [257]:
# replace Rest days with zeros so that it can be used as integers
df['Distance_km'] = df['Distance_km'].apply(lambda x: 0 if 'rest' in x.lower() else x)
df['Distance_miles'] = df['Distance_miles'].apply(lambda x: 0 if 'rest' in x.lower() else x)

In [260]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Day_number      112 non-null    float64
 1   Date            112 non-null    object
 2   Day_week        112 non-null    object
 3   Start           112 non-null    object
 4   End             112 non-null    object
 5   Distance_km     112 non-null    object
 6   Total_km        112 non-null    object
 7   Distance_miles  112 non-null    object
 8   Total_miles     112 non-null    object
 9   Weather         112 non-null    object
 10  Steps           112 non-null    float64
 11  Stiles          112 non-null    float64
 12  Dogs            112 non-null    float64
 13  Cats            112 non-null    float64
 14  Cow_encounters  112 non-null    float64
 15  Cries           112 non-null    float64
 16  Chickens        112 non-null    object
 17  rain            112 non-null    int64
 18  sun             112 non-null    int64
 19  cloud           112 non-null    int64
dtypes: float64(7), int64(3), object(10)
memory usage: 17.6+ KB

In [262]:
#convert distances to floats
df["Distance_km"] = df["Distance_km"].astype('float')
df["Distance_miles"] = df["Distance_miles"].astype('float')
df["Total_km"] = df["Total_km"].astype('float')
df["Total_miles"] = df["Total_miles"].astype('float')

## Creating new features <a name="features"></a>

The weather column is currently full of strings in not very useful formats (different phrasing, descriptions etc). Let's pull out some keywords from this and create columns representing different weather states.

In [259]:
df['rain'] = df['Weather'].apply(lambda x: 1 if 'rain' in x.lower() or 'showers' in x.lower() else 0)
df['sun'] = df['Weather'].apply(lambda x: 1 if 'sun' in x.lower() or 'blue' in x.lower() else 0)
df['cloud'] = df['Weather'].str.lower().apply(lambda x: 1 if 'cloud' in x.lower() or 'grey' in x.lower() else 0)

In [263]:
df.head()

,Day_number,Date,Day_week,Start,End,Distance_km,Total_km,Distance_miles,Total_miles,Weather,Steps,Stiles,Dogs,Cats,Cow_encounters,Cries,Chickens,rain,sun,cloud
0,1.0,18/05/2023,Thu,Land's End,Penzance,23.0,23.0,14.3,14.3,Sunny/cloudy,30982.0,6.0,5.0,1.0,0.0,0.0,0,0,1,1
1,2.0,19/05/2023,Fri,Penzance,Helston/Porthleven,25.0,48.0,15.5,29.8,Cloudy,35306.0,4.0,1.0,0.0,0.0,0.0,0,0,0,1
2,3.0,20/05/2023,Sat,Helston/Porthleven,Lizard,23.0,71.0,14.3,44.1,Blue skies,37643.0,9.0,3.0,0.0,0.0,0.0,0,0,1,0
3,4.0,21/05/2023,Sun,Lizard,Gweek,21.8,92.8,13.5,57.7,Blue skies,31287.0,2.0,0.0,0.0,0.0,0.0,0,0,1,0
4,5.0,22/05/2023,Mon,Gweek-ish,Falmouth,18.5,111.3,11.5,69.2,sunny/cloudy,25150.0,13.0,1.0,0.0,1.0,2.0,0,0,1,1